<html>
<body>
<h2>Instructions</h2>
<ul>
    <li>You must enter a verb and a noun to direct the caterpillar. Ex. <font color="red">shield self</font></li>

    <li>Level one goal is to <font color="red">eat leaf</font> and avoid enemies. Navigate with <font color="red">go [direction]</font>.</li>

    <li>Eat leaves and attack foes you can defeat.</li>

    <li>At level seven, fight the boss (squirrel) to save your mate.</li>
    <li>To win, defeat the squirrel and then go to the tree.</li>

    <li>For easy game play enter <font color="red">go godmode</font></li>
    <li>Adjust volume with <font color="red">volume [up/down]</font></li>
    <li>Get help with <font color="red">help</font>, <font color="red">help all</font>, <font color="red">help defenses</font>, or <font color="red">help [defense]</font>.</li>
    <li>To battle a predator:<ol>
        <li>Enter battle mode: <font color="red">attack [predator]</font></li>
        <li>Bring on the damage: <font color="red">use [defense type]</font></li>
    </ol></li>
</ul>
</body>
</html>