<html>
<style>
    body {
        width: 100vw;
        height: 400px;
        background-color: black;
        padding-left: 10px;
    }

    div {
        background-color: grey;
        text-align: left;
        color: white;
    }

    .target{
        color: green;
    }

    .path{
        color: blue;
    }

    .magic{
        color: black;
    }

</style>
<body>
<a><img width="200" height="200" src="[[PICTURE]]"></a>
<div>----------------------------------------------------------------------------------------------------------</div>
<div class="magic">-----------------------------------------------------------------------------------------------------</div>
<div><b class="magic">----------------------</b>[[WOODS]]<b class="magic">------</b>[[HILL]]<b class="path">--------</b>[[BOSS]]<b class="magic">---------------------------</b></div>
<div><b class="magic">----------------------------</b><b class="path">|</b><b class="magic">-------------------</b><b class="path">|</b><b class="magic">------------------</b><b class="path">|</b><b class="magic">-------------------------------</b></div>
<div><b class="magic">--</b>[[HOLE]]<b class="path">------</b>[[GENESIS]]<b class="path">--------</b>[[WEB]]<b class="path">----</b>[[FLOWERS]]<b class="path">-----</b>[[TREE]]<b class="magic">-----</b></div>
<div><b class="magic">----------------------------</b><b class="path">|</b><b class="magic">-----------------------------------------------------------------------</b></div>
<div><b class="magic">-----------------------</b>[[LAKE]]<b class="magic">------------------------------------------------------------------</b></div>
<div class="magic">-----------------------------------------------------------------------------------------------------</div>
<div>----------------------------------------------------------------------------------------------------------</div>


</body>

</html>